PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
SUPABASE_URL=https://xetextnyxmkfxnyvokmc.supabase.co
SUPABASE_ANON_KEY=sb_publishable_tTGw-CcBtp7ZA_fFJqR-Dg_LxdCh-Yn
SUPABASE_SERVICE_ROLE_KEY=
AI_API_KEY=
POSEIDONPAY_API_URL=https://app.poseidonpay.site
POSEIDONPAY_PUBLIC_KEY=
POSEIDONPAY_SECRET_KEY=
POSEIDONPAY_WEBHOOK_SECRET=
